<div id="mainDiv">
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div id="code">

                        <span class="comments">最最亲爱的曼曼：</span><br/>
                        <span class="comments">在你<s>真正的</s>生日到来之际，</span><br/>
                        <span class="comments">我将我那如大海般深沉的声音化作歌声，作为礼物送给你😉</span><br/><br/>
                        <span class="comments">不知不觉三个月过去了，</span><br/>
                        <span class="comments">最初不了解你也不知道该和你说什么，差点就没聊下去</span><br/>
                        <span class="comments">而现在你已经是我生命中非常重要的一部分了</span><br/>
                        <span class="comments">很幸运能遇上你这么美好的女孩</span><br/>
                        <span class="comments">感谢你带给我的欢乐，也希望你接下来的一年能开心~</span><br/>
                        <span class="comments">反正有你在我接下来的一年肯定会开心了😊</span><br/><br/>
                        <span class="comments">祝你身体健康学业顺利，一写论文就有灵感，</span><br/>
                        <span class="comments">能快快乐乐地过好每一天！</span><br/>
                        <br>
                        <span class="comments"><b class="bb">Your お兄ちゃん 😘</b></span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div id="loveHeart">
                        <canvas id="garden"></canvas>
                        <div id="words">
                            <div id="messages">
                                <img src="assets/bd1/images/zsr.png">
                            </div>
                            <div id="loveu">
                                <img src="assets/bd1/images/sr.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="copyright">
        <div style="position:absolute; top:50px; right:50px; z-index:999;">
            <audio id="main_audio" preload="auto">
                <source src="assets/bd1/mp3/birthday.mp3" type="audio/mpeg"/>
                <embed id="main_audio_ie8" hidden="true" autostart="true" height="0" width=0
                       src="assets/bd1/mp3/birthday.mp3" autoplay="autoplay"/>
            </audio>
            <a class="c-white fs-12 icon-play rotate" id="btn-play" href="javascript:void(0);"></a>
        </div>
    </div>
</div>
