<audio src="assets/journey/mp3/QingRenJie.mp3" autoplay="true" loop="loop"></audio>
<div id="back">
    <div class="mask"></div>
    <div id="carousel"  class="carousel slide carousel-fade carousel-position">
        <div class="carousel-inner" style="width: 100%;height: 100%;" id="background">
            <div class="item active" style="width: 100%;height: 100%;">
                <div style="width: 100%;height: 100%;background:url(assets/journey/images/start.JPG);background-size: cover;"></div>
            </div>
            <div class="item" style="width: 100%;height: 100%;">
                <div style="width: 100%;height: 100%;background-image: url(assets/journey/images/1.JPG) ;background-size: cover;"></div>
            </div>
            <div class="item" style="width: 100%;height: 100%;">
                <div style="width: 100%;height: 100%;background-image: url(assets/journey/images/2.JPG) ;background-size: cover;"></div>
            </div>
            <div class="item" style="width: 100%;height: 100%;">
                <div style="width: 100%;height: 100%;background-image: url(assets/journey/images/3.JPG) ;background-size: cover;"></div>
            </div>
            <div class="item" style="width: 100%;height: 100%;">
                <div style="width: 100%;height: 100%;background-image: url(assets/journey/images/4.JPG);background-size: cover;"></div>
            </div>
            <div class="item" style="width: 100%;height: 100%;">
                <div style="width: 100%;height: 100%;background-image: url(assets/journey/images/5.JPG);background-size: cover;"></div>
            </div>
            <div class="item" style="width: 100%;height: 100%;">
                <div style="width: 100%;height: 100%;background-image: url(assets/journey/images/6.JPG);background-size: cover;"></div>
            </div>
            <div class="item" style="width: 100%;height: 100%;">
                <div style="width: 100%;height: 100%;background-image: url(assets/journey/images/7.JPG);background-size: cover;"></div>
            </div>
            <div class="item" style="width: 100%;height: 100%;">
                <div style="width: 100%;height: 100%;background-image: url(assets/journey/images/8.JPG);background-size: cover;"></div>
            </div>
            <div class="item" style="width: 100%;height: 100%;">
                <div style="width: 100%;height: 100%;background-image: url(assets/journey/images/9.JPG);background-size: cover;"></div>
            </div>
            <div class="item" style="width: 100%;height: 100%;">
                <div style="width: 100%;height: 100%;background-image: url(assets/journey/images/10.JPG);background-size: cover;"></div>
            </div>
            <div class="item" style="width: 100%;height: 100%;">
                <div style="width: 100%;height: 100%;background-image: url(assets/journey/images/11.JPG);background-size: cover;"></div>
            </div>
            <div class="item" style="width: 100%;height: 100%;">
                <div style="width: 100%;height: 100%;background-image: url(assets/journey/images/12.JPG);background-size: cover;"></div>
            </div>
            <div class="item" style="width: 100%;height: 100%;">
                <div style="width: 100%;height: 100%;background-image: url(assets/journey/images/13.JPG);background-size: cover;"></div>
            </div>
            <div class="item" style="width: 100%;height: 100%;">
                <div style="width: 100%;height: 100%;background-image: url(assets/journey/images/14.JPG);background-size: cover;"></div>
            </div>
            <div class="item" style="width: 100%;height: 100%;">
                <div style="width: 100%;height: 100%;background-image: url(assets/journey/images/15.JPG);background-size: cover;"></div>
            </div>
            <div class="item" style="width: 100%;height: 100%;">
                <div style="width: 100%;height: 100%;background-image: url(assets/journey/images/end.JPG);background-size: cover;"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal show" style="top:24%;">
    <div class="modal-dialog" style="opacity: .9">
        <div class="modal-content" style="opacity:.85">
            <div class="modal-header">
                <h1 class="text-center" style="color: #A94442;font-family: 'JournalRegular', Arial, sans-serif;font-size: 7rem;">The Journey of M&M</h1>
                <!-- <p class="text-center small-title">M & M</p> -->
                <!-- <a routerLink="/birthday1" routerLinkActive="active">
                    <p class="text-center small-title">archive</p>
                </a> -->
            </div>
            <div class="modal-body text-center" style="line-height: 1.5rem;font-family: 'JournalRegular', Arial, sans-serif;font-size: 3rem;">
                <!-- <p>
                    <span id="day" class="time-font"></span><span style="color:#A94442">/&nbsp;</span><span id="hour" class="time-font"></span><span style="color:#A94442">/&nbsp;</span><span id="minute" class="time-font"></span><span style="color:#A94442">/&nbsp;</span><span id="second" class="time-font"></span>
                </p>
                <p>
                    days/hours/min/sec
                </p> -->
                <p class="text-center" style="color:#A94442;font-size: 17px" id="say"></p>
            </div>
        </div>
    </div>
</div>
