<div id="bd2div">
    <div class='cards'>
        <div class='card'>
            <div class='front face'>
                <img class="center" src="assets/bd2/images/XiaoLiuJi.png"/>
            </div>
            <div class="back face">
                <div class="message">
                    <div id="happy">
                        <img src="assets/bd2/images/bodyalphabet/h1.png"/>
                        <img src="assets/bd2/images/bodyalphabet/a1.png"/>
                        <img src="assets/bd2/images/bodyalphabet/p1.png"/>
                        <img src="assets/bd2/images/bodyalphabet/p2.png"/>
                        <img src="assets/bd2/images/bodyalphabet/y1.png"/>
                    </div>
                    <div id="birth">
                        <img src="assets/bd2/images/bodyalphabet/b1.png"/>
                        <img src="assets/bd2/images/bodyalphabet/i1.png"/>
                        <img src="assets/bd2/images/bodyalphabet/r1.png"/>
                        <img src="assets/bd2/images/bodyalphabet/t1.png"/>
                        <img src="assets/bd2/images/bodyalphabet/h2.png"/>
                    </div>
                    <div id="day">
                        <img src="assets/bd2/images/bodyalphabet/d1.png"/>
                        <img src="assets/bd2/images/bodyalphabet/a2.png"/>
                        <img src="assets/bd2/images/bodyalphabet/y2.png"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
