<audio src="assets/timeline/mp3/manmanloveyou.mp3" autoplay="true" loop="loop"></audio>
<section class="cd-timeline js-cd-timeline">
	<div class="cd-timeline__container">
		<div class="cd-timeline__block js-cd-block">
			<div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
				<img src="assets/timeline/icon/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline__img -->

			<div class="cd-timeline__content js-cd-content">
				<h2>漫长影集的起始</h2>
				<p>和卖萌的小娇妻在一起感觉自己会永驻青春的</p>
				<img src="assets/timeline/images/1.JPG" alt="Picture">
				<span class="cd-timeline__date">11/18/2017</span>
			</div> <!-- cd-timeline__content -->
		</div> <!-- cd-timeline__block -->

		<div class="cd-timeline__block js-cd-block">
			<div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
				<img src="assets/timeline/icon/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline__img -->

			<div class="cd-timeline__content js-cd-content">
				<h2>家长祝福下的我们</h2>
				<p>有老婆在身边，我的人生要发光啦</p>
				<img src="assets/timeline/images/2.JPG" alt="Picture">
				<span class="cd-timeline__date">11/24/2017</span>
			</div> <!-- cd-timeline__content -->
		</div> <!-- cd-timeline__block -->

		<div class="cd-timeline__block js-cd-block">
			<div class="cd-timeline__img cd-timeline__img--location js-cd-img">
				<img src="assets/timeline/icon/cd-icon-location.svg" alt="Location">
			</div>

			<div class="cd-timeline__content js-cd-content">
				<h2>第一次分离。。。</h2>
				<p>要回美国了😢</p>
				<span class="cd-timeline__date">11/25/2017</span>
			</div>
		</div>

		<div class="cd-timeline__block js-cd-block">
			<div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
				<img src="assets/timeline/icon/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline__img -->

			<div class="cd-timeline__content js-cd-content">
				<h2>。。。才怪，我们从来都没有分开过</h2>
				<p>我和老婆早已是一心同体，人工实现量子纠缠态</p>
				<img src="assets/timeline/images/3.JPG" alt="Picture">
				<span class="cd-timeline__date">05/04/2018</span>
			</div> <!-- cd-timeline__content -->
		</div> <!-- cd-timeline__block -->

		<div class="cd-timeline__block js-cd-block">
			<div class="cd-timeline__img cd-timeline__img--location js-cd-img">
				<img src="assets/timeline/icon/cd-icon-location.svg" alt="Location">
			</div>

			<div class="cd-timeline__content js-cd-content">
				<h2>求婚之旅</h2>
				<p>缘起大和，梦回樱落</p>
				<span class="cd-timeline__date">05/27/2018</span>
			</div>
		</div>

		<div class="cd-timeline__block js-cd-block">
			<div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
				<img src="assets/timeline/icon/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline__img -->

			<div class="cd-timeline__content js-cd-content">
				<h2>开心的日本之行</h2>
				<p>看戴着戒指的酒鬼老婆享受美食我的心也醉了</p>
				<img src="assets/timeline/images/4.JPG" alt="Picture">
				<span class="cd-timeline__date">05/31/2018</span>
			</div> <!-- cd-timeline__content -->
		</div> <!-- cd-timeline__block -->

		<div class="cd-timeline__block js-cd-block">
			<div class="cd-timeline__img cd-timeline__img--location js-cd-img">
				<img src="assets/timeline/icon/cd-icon-location.svg" alt="Location">
			</div>

			<div class="cd-timeline__content js-cd-content">
				<h2>新的一年，不变的感情，老婆我来看你啦！</h2>
				<p>其实还是有变的，这次要过上更加没羞没臊的生活🙈</p>
				<span class="cd-timeline__date">11/11/2018</span>
			</div>
		</div>

		<div class="cd-timeline__block js-cd-block">
			<div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
				<img src="assets/timeline/icon/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline__img -->

			<div class="cd-timeline__content js-cd-content">
				<h2>秀恩爱的我们</h2>
				<p>在每个角落留下我们爱的足迹</p>
				<img src="assets/timeline/images/5.JPG" alt="Picture">
				<span class="cd-timeline__date">11/12/2018</span>
			</div> <!-- cd-timeline__content -->
		</div> <!-- cd-timeline__block -->


		<div class="cd-timeline__block js-cd-block">
			<div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
				<img src="assets/timeline/icon/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline__img -->

			<div class="cd-timeline__content js-cd-content">
				<h2>亲爱的，你逃不了啦</h2>
				<p>喝了那杯酒，你生生世世都是我的人了</p>
				<img src="assets/timeline/images/6.JPG" alt="Picture">
				<span class="cd-timeline__date">11/12/2018</span>
			</div> <!-- cd-timeline__content -->
		</div> <!-- cd-timeline__block -->


		<div class="cd-timeline__block js-cd-block">
			<div class="cd-timeline__img cd-timeline__img--movie js-cd-img">
				<img src="assets/timeline/icon/cd-icon-movie.svg" alt="Movie">
			</div>

			<div class="cd-timeline__content js-cd-content">
				<h2>我们的故事</h2>
				<p>会一直继续下去哒~</p>
				<span class="cd-timeline__date">Now</span>
			</div>
		</div>
		<!-- <div class="cd-timeline__block js-cd-block">
			<div class="cd-timeline__img cd-timeline__img- -location js-cd-img">
				<img src="assets/timeline/icon/cd-icon-location.svg" alt="Location">
			</div>

			<div class="cd-timeline__content js-cd-content">
				<h2>Title of section 5</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
				<img src="assets/timeline/images/5.JPG" alt="Picture">
				<span class="cd-timeline__date">Feb 18</span>
			</div>
		</div>
		<div class="cd-timeline__block js-cd-block">
			<div class="cd-timeline__img cd-timeline__img- -movie js-cd-img">
				<img src="assets/timeline/icon/cd-icon-movie.svg" alt="Movie">
			</div>

			<div class="cd-timeline__content js-cd-content">
				<h2>Final Section</h2>
				<p>This is the content of the last section</p>
				<img src="assets/timeline/images/6.JPG" alt="Picture">
				<span class="cd-timeline__date">Feb 26</span>
			</div>
		</div>  -->

	</div>
</section> <!-- cd-timeline -->
