<div id="gallery">
    <p-fieldset legend="Our Videos">
        <div id="videos">
            <p-lightbox type="content">
                <a class="group" href="#">
                    爱
                </a>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/pZgZYWN4llk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </p-lightbox>

        </div>
    </p-fieldset>

    <p-fieldset legend="Our Hightlights">
        <div id="hightlights">

        </div>
    </p-fieldset>

    <p-fieldset legend="Our Photos">
        <div id="photos">

        </div>
    </p-fieldset>


</div>
