iframe {
    display: block;
    margin: auto;
}
#gallery p-fieldset{
    margin:2em;
}

#gallery /deep/ legend {
    width:10vw;
    font-size: 1em;
    background-color: #ebedf0;
}

#gallery /deep/ fieldset {
    width:90vw;
    margin-left:3vw;
}

.videos {
    display: inline-block;
    width:25%;
}

#gallery /deep/ .ui-widget-content {
    background: #ffe;
}



a {
  position: relative;
  display: inline-block;
  transition: .3s;
  text-decoration: none;
}

a::after,
a::before {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #FFB6C1;
  opacity: 0;
  transition: .3s;
}

a:hover::before {
  top: 0;
  opacity: 1;
}

a:hover::after {
  bottom: 0;
  opacity: 1;
}
