<div id="proposalDiv">
    <div style="position:absolute; top:-999px; right:-999px; z-index:999;">
        <audio id="main_audio" preload="auto" loop="loop">
            <source src="assets/proposal/mp3/beautifulInWhite.mp3" type="audio/mpeg"/>
            <embed id="main_audio_ie8" hidden="true" autostart="true" height="0" width=0
                   src="assets/proposal/mp3/beautifulInWhite.mp3" autoplay="autoplay"/>
        </audio>
        <a class="c-white fs-12 icon-play rotate" id="btn-play" href="javascript:void(0);"></a>
    </div>
    <div id="words">
        <h2 class="quotes">曼曼</h2>
        <h2 class="quotes">我真的好喜欢你啊</h2>
        <h2 class="quotes">能认识你并与你相爱</h2>
        <h2 class="quotes">真的是我这辈子最幸运最幸福的事了</h2>
        <h2 class="quotes">我希望能独占你的全部的爱</h2>
        <h2 class="quotes">想每天看到你的笑颜</h2>
        <h2 class="quotes">想每天和你一起起床，吃饭，共享一天的经历</h2>
        <h2 class="quotes">想陪你一起走完人生的路</h2>
        <h2 class="quotes">在以后的岁月里守护你陪伴你</h2>
        <h2 class="quotes">给你一个幸福的未来</h2>
        <h2 class="quotes">让你一辈子做幸福的小女孩</h2>
        <h2 class="quotes">所以曼曼</h2>
        <h1 class="quotes">嫁给我吧</h1>
    </div>
</div>
<div class="stage">
  <div class="heart"></div>
</div>
