<div id="sidebar">
    <p-sidebar [(visible)]="visibleSidebar" position="bottom" [baseZIndex]="10000">
        <a routerLink="/birthday1" class="fancy-btn" routerLinkActive="active">
            Birthday #1
        </a>
    </p-sidebar>

    <p-sidebar [(visible)]="tempSidebar" position="bottom" [baseZIndex]="10000">
        <h1 style="font-weight:normal">Under Construction</h1>
    </p-sidebar>

</div>
<div id="link-group">
    <a routerLink="/journey" class="fancy-btn" routerLinkActive="active">
        Our Journey
    </a>
    <br>
    <!-- <span (click)="tempSidebar = true" class="fancy-btn">Our Marriage</span>
    <br/> -->
    <a routerLink="/gallery" class="fancy-btn" routerLinkActive="active">
        Our Gallery
    </a>
    <br/>
    <span (click)="visibleSidebar = true" class="fancy-btn">Our Archive</span>

</div>
